version: '3'
services:
    mysql:
        container_name: mysql
        restart: always
        image: mysql:latest
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: db
            MYSQL_USER: user
            MYSQL_PASSWORD: password
            TZ: Asia/Bangkok
        volumes:
            - /home/kali/Docker/mysql/mysqld.cnf:/etc/mysql/mysql.conf.d/mysqld.cnf
            - /home/kali/Docker/mysql/data:/var/lib/mysql
            - /home/kali/Docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
        ports:
            - "3306:3306"
    adminer:
        image: adminer
        restart: always
        ports:
            - 8181:8080
        depends_on:
            - mysql

    portainer:
        image: portainer/portainer-ce:latest
        container_name: portainer
        restart: always
        ports:
        - "8000:8000"   # Agent communication (optional)
        - "9443:9443"   # HTTPS web UI
        volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - portainer_data:/data
        environment:
        - TZ=UTC  # Set your timezone, e.g. Europe/London
    rabbitmq:
        image: rabbitmq:4.1.5-management
        container_name: rabbitmq
        ports:
        - "5672:5672"
        - "15672:15672"
        environment:
            RABBITMQ_DEFAULT_USER: admin
            RABBITMQ_DEFAULT_PASS: admin123
        restart: unless-stopped
volumes:
  portainer_data:        