<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Overview</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
</head>
<body>
    <h1>Company Overview</h1>
    
    <table class="table-list">
        <thead>
            <tr>
                <!-- for each columns -->
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for new in news %}
                <tr class="table-item">
                    {% for column in columns %}
                        <td>{{ new[column] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>