<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jobs.css') }}">
</head>
<body>
    <h1>Scheduled Jobs</h1>
    <!-- reload all jobs -->
    <form method="POST" action="{{ url_for('main.reload_jobs') }}">
        <button type="submit">Reload All Jobs</button>
    </form>
    <br>
    <!-- job csv link -->
    <a href="{{ url_for('static', filename='files/jobs.json') }}" download>Download All Jobs</a>
    <table class="job-list">
        <thead>
            <tr>
                <th>Job ID</th>
                <th>Job Name</th>
                <th>Function</th>
                <th>Interval</th>
                <th>next_run_time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for job in job_list %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.name }}</td>
                <td>{{ job.func }}</td>
                <td>{{ job.trigger }}</td>
                <td>{{ job.next_run_time }}</td>
                <td>
                   <button>Edit Job</button>
                   <button class="delete-btn">Delete Job</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>